.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(170, 225, 243);
}

.container div {
  background-color: #c5f3ff;
  width: 300px;
  margin: 20px;
  padding: 10px;
  border-radius: 16px;
  text-align: center;  
  font-size: 25px;
  text-shadow: 4px 3px 4px #71a8cc;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  letter-spacing: -1px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

body {
  background-color: rgba(209, 255, 252, 0.714);
}

h1 {
  color: rgb(0, 0, 46);
  text-align: center;
}

p {
  text-align: center;
  color: rgb(0, 0, 0);
}