.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: dodgerblue;
  padding: 5px;
  gap: 5px;
}
.container div {
  background-color: #dcf7ff;
  color: #000;
  padding: 10px;
  font-size: 20px;
  border-radius: 16px;
  text-shadow: 4px 3px 4px #546e80;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  letter-spacing: -1px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

h1 {
  color: rgb(0, 0, 46);
  text-align: center;
}

p {
  text-align: center;
  color: rgb(0, 0, 0);
}